* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.first-part {
    background-color: hsl(356, 100%, 66%);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}