                /* Global roles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    /* font-size: 16px; */
}

.container {
    overflow: hidden;
}

                /* First part */

.fp {
    background-color: hsl(353, 100%, 62%);
    width: 100%;
    height: 435px;
    padding: 47px 152px;
    border-radius: 0 0 0 90px;
}

.first-part {
    /* background-image: url("../imgs/bg-pattern-intro.svg"); */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
                
.logoMenu {
    display: flex;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 33%;
}

.fp .logo h1 {
    color: #fff;
    font-weight: bolder;
    font-size: 35px;
}

.menu-items ul {
    display: flex;
    padding: 16px 0 0 13px;
    list-style-type: none;
}

.menu-items ul li a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    margin-left: 40px;
    font-weight: bold;
}
                
.btns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 6px 0 0 0;
}
                
.btns .login .logBtn {
    border: none;
    outline: none;
    margin-right: 60px;
    background-color: hsl(353, 100%, 62%);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    cursor: pointer;
    padding-top: 11px;
}
                
.btns .signup .sgnBtn {
    cursor: pointer;
    padding: 8px 20px;
    outline: none;
    border-radius: 15px;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    font-weight: bold;
}

.btns .signup .sgnBtn:hover {
    color: #fff;
    background-color: hsl(356, 100%, 66%);
    border: 1px solid hsl(356, 100%, 66%);
}
                
.sp {
    padding-top: 80px;
}

.s-btns {
    display: flex;
    justify-content: center;
}

.bp {
    display: flex;
    justify-content: center;
}

.bp h1 {
    color: #fff;
    font-weight: bold;
    font-size: 60px;
}
                
.s-para {
    display: flex;
    justify-content: center;
}

.s-para p {
    color: #fff;
    font-weight: bold;
    padding: 13px 0 30px 0
}

.btn-start {
    margin: 0 5px 0 0;
}
                
.btn-start button {
    cursor: pointer;
    padding: 9px 16px;
    outline: none;
    border-radius: 18px;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    font-weight: bold;
    font-size: 15px;
}

.btn-start button:hover {
    color: #fff;
    background-color: hsl(356, 100%, 66%);
    border: 1px solid hsl(356, 100%, 66%);
}
                
.btn-learn {
    margin: 0 0 0 5px;
}

.btn-learn button {
    cursor: pointer;
    padding: 9px 16px;
    outline: none;
    border-radius: 18px;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(356, 100%, 66%);
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 15px;
}
                
.btn-learn button:hover {
    color: hsl(356, 100%, 66%);
    background-color: hsl(0, 0%, 100%);
    font-weight: bold;
}
                        /* Second part */

.second-part {
    width: 1624px;
    padding-bottom: 30px;
}

.content-items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.left {
    width: 60%;
    padding: 100px 92px 0 175px;
}

.left h1 {
    display: flex;
    justify-content: flex-end;
    color: hsl(208, 49%, 24%);
    font-size: 27px;
    font-weight: bolder;
}

.left-cont {
    padding: 40px;
}

.f-pLeft h2 {
    padding: 0 0 20px 0;
    padding: 0 0 20px 0;
    color: hsl(208, 49%, 24%);
    font-size: 20px;
    font-weight: bold;
}

.f-pLeft p {
    padding-right: 19px;
    line-height: 1.6;
    font-size: 15px;
}

.right {
    width: 40%;
}

.right-img {
    padding-top: 45px;
}

.right-img img {
    height: 460px;
    width: 531px;
}

.s-pRight {
    padding-top: 25px;
}

.s-pRight h2 {
    padding: 0 0 20px 0;
    color: hsl(208, 49%, 24%);
    font-size: 20px;
    font-weight: bold
}

.s-pRight p {
    padding-right: 19px;
    line-height: 1.6;
    font-size: 15px;
}

                    /* Third part */

.third-part {
    width: 100%;
    height: 330px;
    background-color: hsl(237, 23%, 32%);
    background-image: url(../imgs/bg-pattern-circles.svg);
    border-radius: 0 90px;
}

.content-third {
    display: flex;
    justify-content: space-between;
}

.part-img {
    width: 50%;
    align-items: center;
    padding: 0 0 0 179px;
}

.third-part img {
    height: 390px;
}

.prt-text {
    width: 50%;
    padding: 90px 10px 0 0;
}

.part-head {
    padding-bottom: 15px;
}

.part-head h1 {
    color: hsl(0, 0%, 100%);
    font-size: 18PX;
    font-weight: bold;
}

.txt {
    padding-right: 130px
}

.txt p {
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
}
                        /* forth part */

.forth-part {
    padding-top: 25px;
}

.content-forth {
    display: flex;
}